<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
  <appender name="A1" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <!-- Print the date in ISO 8601 format -->
<!--      <param name="ConversionPattern" value="%d %-5p %c{1} - %m%n"/>-->
      <param name="ConversionPattern" value="%d %-5p %-15c{1}:%-20M - %m%n"/>
    </layout>
  </appender>
  
  <logger name="fi.aalto.hacid">
    <level value="off"/>
    <!--<level value="trace"/>-->
  </logger>

  <logger name="org">
    <level value="off"/>
  </logger>
  
  <root>
    <priority value ="trace" />
    <appender-ref ref="A1" />
  </root>
  
</log4j:configuration>
